@font-face {
    font-family: OpenSans;
    src: url(../fonts/opensans.woff);
}

@font-face {
    font-family: OpenSans Light;
    src: url(../fonts/opensanslight.woff);
}

@font-face {
    font-family: Gilroy ExtraBold;
    src: url(../fonts/gilroyextrabold.woff);
}

@font-face {
    font-family: Gilroy Light;
    src: url(../fonts/gilroylight.woff);
}
