$font-small: 15px;
$font-middle: 18px;
$font-big: 47px;

$font-Open: OpenSans Light;
$font-OpenB: OpenSans Bold;
$font-Gil: Gilroy ExtraBold;
$font-GilL: Gilroy Light;

$col-big: #000000;
$col-small: #848484;
$header-col: #f7e296;
$element-bg-col: #f0c52e;
$footer-col: #464646;
